<html>
    <head>
        <!-- Remember to correctly reference the folder -->
        <link href="/assets/style.css" type=text/css rel=StyleSheet />
    </head>
    <body>
        <h1>Hello World!</h1>
    </body>
</html>